.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputField {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 16px;
  color: #fff; /* Ou qualquer cor que combine com seu tema */
}


.formButton {
    background-color: #1976d2;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formButton:hover {
    background-color: #1565c0;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #ccc;
  border-top: 3px solid white;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

